"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontFamily: "Hack"
    fontSize: 16
    showIndentGuide: true
  "exception-reporting":
    userId: "2bda733b-50c1-46e9-90f9-109d27340330"
  welcome:
    showOnStartup: false
